body{
  /*background-image: url(heroimage.jpg);*/
  background: url(heroimage.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}
}
 



.main{
  height: 560px;
  width: 500px;
  background-color: white;
  position: absolute;
  top: 60px;
  left: 450px;
  border-radius: 100px;
  box-shadow: 10px 10px 5px 5px #f7f3e9;
}
.head{
  font-size: 5rem;
  position: relative;
  left: 28%;
  font-family: 'Zen Dots', cursive;
  color: #ff8882;
  position: relative;
  left: 90px;
}
.form{

  text-align:center;
  left:10px;
}
.label_1{
  color:white;
  font-family: 'Mukta', sans-serif;
  font-size: 40px;
  position: relative;
  right: 335px;
  
}
.label_2{
  color: white;
  font-family: 'Mukta', sans-serif;
  font-size: 40px;
  position: relative;
  right: 372px;
}
#email{
  background-color:white;
  border-color: #eeebdd;
  position: relative;
  left: 50px;
  width: 1000px;
  border-bottom: 4px solid white;
  height: 40px;
  font-size: 20px;


}
#pass{
  background-color:white;
  border-color: #eeebdd;
  position: relative;
  left: 50px;
  width: 1000px;
  border-bottom: 4px solid white;
  height: 40px;
  font-size: 20px;
}
.btn{
  color: white;
  font-size: 30px;
  background:transparent; ;
  border-radius: 20px;
  width: 200px;
  border: 0px;
  position: relative;
  right: -35px;
}
